* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header {
  display: flex;
  margin: 0 20px 0 20px;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
header {
  background-color: #e0e0e0;
}
.car {
  font-size: 36px;
  color: black;
}
.online {
  font-size: 24px;
  color: #e8743a;
}
.navbar {
  background-color: #e8743a;
}
.navbar-list {
  display: flex;
  margin-left: 20px;
}
.navbar-list-items {
  padding: 10px 50px;
  border-left: 1px solid black;
  color: white;
}
.navbar-list-items:hover {
  background-color: #c0c0d0;
  color: black;
}
.container {
  margin: 10px 10px 0 10px;
  display: flex;
}
.main-left {
  width: 70%;
}
img {
  width: 100%;
}
.product {
  margin-top: 10px;
  background-color: #c0c0d0;
  padding: 2px 0 10px 5px;
}
.product-title {
  text-transform: uppercase;
}
.product-list {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
.product-list-content {
  padding: 15px 20px 0 20px;
}
.product-list-banner {
  border-bottom: 1px solid black;
}
.product-list-item {
  border: 1px solid black;
}
.main-right {
  width: 30%;

  margin-left: 5px;
}
.img {
  width: 25px;
  height: 25px;
  object-fit: cover;
}
.content {
  font-size: 24px;
  padding: 2px 0px 2px 5px;
}
.list-car-item {
  display: flex;
  justify-content: space-between;
  background-color: #ffffcc;
}
.Cart {
  margin-top: 20px;
  padding: 10px 0 10px 10px;
  background-color: #c0c0d0;
  height: 100px;
}
.cart-item {
  font-size: 28px;
}
.cart-content {
  margin-top: 20px;
}
.text {
  text-decoration: underline;
}
.Branches {
  background: #e8743a;
  margin-top: 10px;
  padding: 15px 0px 15px 10px;
  color: white;
  text-transform: uppercase;
}

.left {
  width: 100%;
  display: flex;
}
.img-left {
  width: 80%;
}
.fix-height {
  height: 100%;
  object-fit: cover;
}
.box {
  background-color: #c0c0d0;
  width: 20%;
}

.bra {
  display: flex;
  margin-top: 20px;
  flex:1;
}
.bra-item {
}
