.text-gradient {
  display: inline-block;
  font-size: 100px;
  text-transform: uppercase;
  font-weight: bold;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to left, #ff4895, #ffd96a);
}
.button {
  display: inline-block;
  padding: 10px 30px;
  text-align: center;
  border-radius: 6px;
  margin: 2rem;
  color: white;
  text-transform: uppercase;
  background-image: linear-gradient(to left, #50cfc6, #68ecac);
  font-size: 12px;
  box-shadow: 0 0 10px 0 rgba(104, 236, 172, 0.494);
}
.color__item {
  width: 100px;
  height: 100px;
  border-radius: 4px;
  margin-left: 2rem;
  margin-bottom: 2rem;
  display: inline-block;
  transition: background-color 0.25s linear;
}
.color__item:first-child {
  background-color: #a24bf0;
}
.color__item:nth-child(2) {
  background-color: #38dbb2;
}
.color__item:nth-child(3) {
  background-color: #ffa400;
}
.color__item:nth-last-child(2) {
  background-color: #07a787;
}
.color__item:last-child {
  background-color: #ff7800;
}
.color__item:hover {
  background-color: red;
}
