body {
  background-color: #a3d5d3;
  height: 100vh;
}

.table-style{
  width: 100%;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th {
  text-align: left;
}

th,
td {
  padding: 10px;
}